
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .demo-placeholder {
        height: 300px;
    }

    #wrap {
        height: 100%;
    }
</style>
<div class="pre-scrollable" style="width: 100%; height: 100%; overflow-x: hidden;">
    <div class="panel-group">
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b class="glyphicon glyphicon-random"></b> Activity <div class="dropdown div-inline">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-tags"></i>&nbsp; Sources<span id="label"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var i in ViewBag.Sources)
                                {
                                    <li><a href="#">@i</a></li>
                                }
                            </ul>
                        </div>
                        <div id="fullscreen" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-fullscreen"> </i></div>
                        <input type="hidden" id="selected" />
                        <input type="hidden" id="state" />
                    </div>
                    <div id="graphContainer" class="panel-body" style="background-color: black;">
                        <div class="counter">
                            <div id="placeholder" class="demo-placeholder"></div>
                        </div>
                    </div>
                    <div class="panel-footer">messages per second the last 10 minutes<br /></div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 25px;"></div>
        <div class="row" style="height: 100%;">
            <div class="col-lg-5">
                <div class="panel panel-primary" style="min-height: 250px;">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-question-sign"></i> Definition of continuum
                    </div>
                    <div class="panel-body">
                        <p>plural continuaplay \-yü-ə\ also continuums</p>
                        <p> 1: a coherent whole characterized as a collection, sequence, or progression of values or elements varying by minute degrees “good” and “bad” … stand at opposite ends of a continuum instead of describing the two halves of a line — Wayne Shumaker</p>
                        <p> 2: the set of real numbers including both the rationals and the irrationals; broadly : a compact set which cannot be separated into two sets neither of which contains a limit point of the other</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="panel panel-default" style="min-height: 250px;">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-info-sign"></i> Objective
                    </div>
                    <div class="panel-body">
                        Debugging and troubleshooting requires good logs. Getting good logs from highly distributes systems is hard and require new tooling that enables the developers to look at the log streams from all parts of the distributed system in one place.
                        This tool enables realtime logging with little effort and "no" cost.<br />
                        This is NOT a replacement for your traditional persistent logging tools like log4net, nor does it enable any kind of analytics capabilities. It is a pure log stream that allows you to watch the log stream in real time.<br />

                        <br />It is meant as a supplement to your existing tooling.
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height: 25px;"></div>

        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-warning" style="height: 385px;">
                    <div class="panel-heading" style="font-family: stardustLogo; font-size: 20px;">
                        <img src="@Url.Content("~/Assets/logo_white.svg")" alt="Brand" style="height: 20px; margin-top: -5px; text-align: center; text-align-all: center; padding-top: -20px; text-wrap: none; display: inline-block;" /> The continuum
                    </div>
                    <div class="panel-body" style="background-color: black;">
                        <div id="container" style="width: 100%; height: 285px; font-family: monospace;background-image: url('/assets/logo_darkGray.svg');background-repeat: no-repeat; background-size: 10%; background-position: center;" class="pre-scrollable">
                            <div class='itemContainer'>
                                <div class="truncate" style="width: 100%">
                                    <span style="font-weight: bolder">Connecting to the continuum feed</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-footer">
                        log stream<br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 25px;"></div>
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b class="glyphicon glyphicon-download-alt"></b> How to get it
                    </div>
                    <div class="panel-body" style="background-color: black; color: white; font-weight: bolder;">
                        <b>
                            PM&gt; Install-Package Stardust.Continuum.Client<br />
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/scripts/jquery.signalR-2.2.1.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script language="javascript">

        $(function () {
            var hub = $.connection.updateFeed;
            $(".dropdown-menu li a").click(function () {

                var selected = $(this).text();


                if (selected === "-Select source-" || selected === $('#selected').text()) return;
                //$(".btn:first-child").text("Sources: " + $(this).text());
                $("#label").text(": " + $(this).text());
                $(".btn:first-child").val($(this).text());
                $('#selected').text(selected);
                plotIndex = {};
                plotdata = [];
                $.plot("#placeholder", plotdata, options);
                $.connection.hub.stop();
                $.connection.hub.start().done(function () {
                    hub.server.connect("Connected to log stream", "the.continuum");
                });
            });
            $("#fullscreen").click(function () {
                $("#graphContainer").fullScreen(true);
            });
            var plotIndex = {};
            var plotdata = [];
            var options = {
                lines: {
                    show: true,
                    zero: true,
                    steps: false,
                    labelMargin:3
                },
                points: {
                    show: false
                },
                xaxis: {
                    tickDecimals: 0,
                    tickSize: 1,
                    show: false

                },
                yaxis: { min: 0 },
                legend: {
                    position: "nw",
                    backgroundOpacity: 0.3,
                    noColumns: 3,
                    sorted: true,
                    labelMargin: 3
                   
                },
                grid: {
                    borderWidth: 1,
                    borderColor: "rgb(40, 40, 40)",
                    backgroundColor: { colors: ["#111", "#333"] }
                }

            };
            $.plot("#placeholder", plotdata, options);

            
            hub.client.cmessage = function (data) {
                AppendData(data);
            }

            hub.client.cmessages = function (data) {;
                $.each(data,
                    function (i, d) {
                        AppendData(d);
                    });
            }
            $.processNewEvents = function (series) {
                $.each(series, function (index, data) {
                    if ($('#selected').text() !== "All" && data.Name !== $('#selected').text())
                    { }
                    else
                    {
                        var label = data.Name + ": " + data.Location;
                        if (plotIndex[label] == null) {

                            plotIndex[label] = { index: plotdata.length, added: true }

                            if (data.Name === "Total") {
                                var color = "rgb(50, 255, 50)";
                                if (data.Location === "Errors")
                                    color = "rgb(255, 50, 50)";
                                plotdata[plotIndex[label].index] = { label: "&nbsp;" + data.Location + "&nbsp;", data: [], color: color };
                            }
                            else
                                plotdata[plotIndex[label].index] = { label: "&nbsp;" + data.Location + "&nbsp;", data: [] };
                            for (var p = 0; p < 600; p++) {
                                plotdata[plotIndex[label].index].data.push([p, 0]);
                            }
                            //alert(data);
                        }

                        var i = plotIndex[label].index;
                        if (plotdata[i].data.length > 600)
                            plotdata[i].data.shift();
                        plotdata[i].data.push([0, data.ItemsReceived]);
                        $.each(plotdata[i].data, function (id, d) { d[0] = id });
                        $.plot("#placeholder", plotdata, options);
                    }
                });
            }
            $.connection.hub.reconnected(function () {
                hub.server.connect("Connected to log stream", "the.continuum");
            });
            // Kick off the connection.
            $.connection.hub.start().done(function () {
                //hub.server.subcribe()
                hub.server.connect("Connected to log stream", "the.continuum");
                $("#state").text("running");
                $("#start").addClass('disabled');
                $("#pause").removeClass('disabled');
            });
           
        });
        //$(function () {

        //    // Establish a connection to the updateFeed hub
        //    var hub = $.connection.updateFeed;

        //    hub.client.cmessage = function (data) {
        //        // Container for newItem
        //        AppendData(data);
        //    }
        //    hub.client.cmessages = function (data) {
        //        // Container for newItem'
        //        //debugger;
        //        $.each(data, function (i, d) {
        //            AppendData(d);
        //        });
        //    }
        //    // Kick off the connection.
        //    $.connection.hub.start().done(function () {
        //        //hub.server.subcribe()
        //        hub.server.connect("Connected to log stream");
        //    });

        //});

        function AppendData(data) {
            var blankDiv = $("<div class='itemContainer'></div>");
            var errorBox = "alert alert-danger";
            if (data.StackTrace == null) {
                data.StackTrace = "";
                errorBox = "";
            }
            if (data.CorrelationToken == null)
                data.CorrelationToken = "";
            if (data.UserName == null)
                data.UserName = "";
            var prefix = "";
            if ($('#selected').text() === "All" && data.Environment != null)
                prefix = "[" + data.Environment + "] ";
            // Holds the update
            var newItem = $("<div class=\"itemContainer\"><div class='alert" +
                data.LogLevel +
                "_item'><span class='truncate'>" +
                prefix +
                data.ServiceName +
                "&gt; " +
                data.Message +
                "</span></div><div class='" +
                errorBox +
                "'>" +
                data.StackTrace +
                "</div></div>");


            // Insert the update at the top of the list, as it's sorted in descending order by publish date.
            $("div#container div:first").before(blankDiv);
            blankDiv.html(newItem);

            // Slide down the blank div (it has a fixed height in CSS), and then fade the new update in.
            $("div#container").prepend(newItem);
            if ($("#container").children().size() > 15)
                $("div#container").children().last().remove();
               


        }

    </script>
}
